{% extends "base.html" %}
{% set page_title = _('Events DB') %}

{% block before_includes %}
    <script src="{{ url_for('static', filename='libs/jquery-1/jquery.min.js') }}"></script>
    <script type="text/javascript">
        jQuery_1 = $.noConflict(true);
    </script>
{% endblock %}

{% block include_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/datetimepicker/jquery.datetimepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/redactor/redactor/redactor.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/jquery-ui/themes/smoothness/jquery-ui.min.css') }}" />
{% endblock %}

{% block include_js %}
    <script src="{{ url_for('static', filename='libs/datetimepicker/jquery.datetimepicker.js') }}"></script>


    <script>jQuery_2 = jQuery; jQuery = jQuery_1;</script>
    <script src="{{ url_for('static', filename='libs/redactor/redactor/redactor.min.js') }}"></script>
    <script>jQuery = jQuery_2;</script>

    <script src="{{ url_for('static', filename='libs/jquery-ui/jquery-ui.min.js') }}"></script>
{% endblock %}


{% block content %}

{% if edit %}
<h1>{{ _("Edit Event") }}</h1>
{% else %}
<h1>{{ _("Add Event") }}</h1>
{% endif %}

{% for error in errors %}
    <p class="flakes-message error">{{ error }}</p>
{% endfor %}

<form class="grid-form" method="POST">
    <div class="grid-10 gutter-20">
        <div class="span-6">
            <fieldset>
                <legend>General</legend>
                <div data-row-span="1">
                    <div data-field-span="1">
                        <label>Title</label>
                        <input type="text" name="title" value="{{initial.title}}">
                    </div>
                </div>

                <div data-row-span="1">
                    <div data-field-span="1">
                        <label>Agenda</label>
                        <textarea rows="15" name="agenda" id="agendaEditor">{{initial.agenda}}</textarea>
                    </div>
                </div>
                <div data-row-span="1">
                    <div data-field-span="1">
                        <label>Social</label>
                        <textarea rows="5" name="social" id="socialEditor">{{initial.social}}</textarea>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="span-4">
            <fieldset>
                <legend>Details</legend>
                <div data-row-span="1">
                    <div data-field-span="1">
                        <label>Place</label>
                        <input type="text" name="place" value="{{initial.place}}">
                    </div>
                </div>

                <div data-row-span="2">
                    <div data-field-span="1">
                        <label>Starts at</label>
                        <input type="text" class="datepicker" name="when_start" value="{% if initial.include_time %}{{ initial.when_start|strfdatetime }}{% else %}{{ initial.when_start|strfdate }}{% endif %}"">
                    </div>
                    <div data-field-span="1">
                        <label>Ends at</label>
                        <input type="text" class="datepicker" name="when_end" value="{% if initial.when_end %}{% if initial.include_time %}{{ initial.when_end|strfdatetime }}{% else %}{{ initial.when_end|strfdate }}{% endif %}{% endif %}">
                    </div>
                </div>
                <div data-row-span="2">
                    <div data-field-span="1">
                        <label>Include time</label>
                        <input type="checkbox" name="include_time" value="true" {% if initial.include_time %}checked{%endif%}>
                    </div>
                    <div data-field-span="1">
                        <label>Special</label>
                        <input type="checkbox" name="special" {% if initial.special %}checked{%endif%}>
                    </div>
                </div>

                <div data-row-span="1">
                    <div data-field-span="1">
                        <label>Level</label>
                        <select name="level">
                            <option value="NONE" disabled>- choose one -</option>
                            <option value="TRAINEE" {% if initial.level == "TRAINEE" %}selected{% endif %}>trainee</option>
                            <option value="JUNIOR" {% if initial.level == "JUNIOR" %}selected{% endif %}>junior</option>
                            <option value="MIDDLE" {% if initial.level == "MIDDLE" %}selected{% endif %}>middle</option>
                            <option value="SENIOR" {% if initial.level == "SENIOR" %}selected{% endif %}>senior</option>
                        </select>
                    </div>
                </div>

                <div data-row-span="1">
                    <div data-field-span="1">
                        <label>Registration link</label>
                        <input type="text" name="registration_url" value="{{initial.registration_url}}">
                    </div>
                </div>

                <div data-row-span="1">
                    <div data-field-span="1">
                        <label>Image URL</label>
                        <input type="text" name="image_url" value="{{initial.image_url}}">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <br>
    {% if edit %}
    <input type="submit" class="button-green bigger" value="Edit Event">
    {% else %}
    <input type="submit" class="button-green bigger" value="Add Event">
    {% endif %}
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
</form>

<script>
jQuery_1( document ).ready(function() {
    jQuery('.datepicker').datetimepicker({
        format:'Y-m-d H:i'
    });
    jQuery_1(function()
    {
        jQuery_1('#agendaEditor').redactor({
            autoresize: false, air: true,
            buttons: ['format', 'bold', 'italic']
        });
        jQuery_1('#socialEditor').redactor({
            autoresize: false, air: true,
            buttons: ['format', 'bold', 'italic']
        });
    });
});
</script>
{% endblock %}
