{% extends "base.html" %}
{% set page_title = _('Events DB') %}

{% block content %}
<h1>{{ _("Event details") }}</h1>

<div class="grid-10 gutter-20">
    <div class="span-6">
        <fieldset class="flakes-information-box">
            <legend>General</legend>
            <div class="grid-1">
                <dl class="span-1">
                    <dt>Title</dt>
                    <dd>{{event.title}}</dd>
                </dl>
            </div>
            <div class="grid-1">
                <dl class="span-1">
                    <dt>Agenda</dt>
                    <dd>{{event.agenda|safe}}</dd>
                </dl>
            </div>
            <div class="grid-1">
                <dl class="span-1">
                    <dt>Social</dt>
                    <dd>{{event.social|safe}}</dd>
                </dl>
            </div>
        </fieldset>
    </div>
    <div class="span-4">
        <fieldset class="flakes-information-box">
            <legend>Details</legend>

            <div class="grid-1">
                <dl class="span-1">
                    <dt>Place</dt>
                    <dd>{{event.place}}</dd>
                </dl>
            </div>
            <div class="grid-2">
                <dl class="span-1">
                    <dt>Starts at</dt>
                    <dd>
                      {% if event.include_time %}
                        {{ event.when_start|strfdatetime }}
                      {% else %}
                        {{ event.when_start|strfdate }}
                      {% endif %}
                    </dd>
                </dl>
                {% if event.when_end %}
                <dl class="span-1">
                    <dt>Ends at</dt>
                    <dd>
                      {% if event.include_time %}
                        {{ event.when_end|strfdatetime }}
                      {% else %}
                        {{ event.when_end|strfdate }}
                      {% endif %}
                    </dd>
                </dl>
                {% endif %}
            </div>
            <div class="grid-1">
                <dl class="span-1">
                    <dt>Special</dt>
                    <dd>
                        {% if event.special %}
                        <i class="fa fa-check-circle-o"></i>
                        {% else %}
                        <i class="fa fa-ban"></i>
                        {% endif %}
                    </dd>
                </dl>
            </div>
            <div class="grid-1">
                <dl class="span-1">
                    <dt>Level</dt>
                    <dd>{{ event.level }}</dd>
                </dl>
            </div>
            <div class="grid-1">
                <dl class="span-1">
                    <dt>Registration URL</dt>
                    <dd>
                        {% if event.registration_url %}
                        <a href="{{ event.registration_url }}">{{ event.registration_url }}</a>
                        {% else %}
                        <i class="fa fa-ban"></i>
                        {% endif %}
                    </dd>
                </dl>
            </div>
            <div class="grid-1">
                <dl class="span-1">
                    <dt>Image URL</dt>
                    <dd>
                        {% if event.image_url %}
                        <a href="{{ event.image_url }}">{{ event.image_url }}</a>
                        {% else %}
                        <i class="fa fa-ban"></i>
                        {% endif %}
                    </dd>
                </dl>
            </div>
            <div class="grid-1">
                <dl class="span-1">
                    <dt>Last edited by</dt>
                    <dd>
                        {{ event.metainfo.creator }}
                    </dd>
                </dl>
            </div>
        </fieldset>
    </div>

</div>
<br>
<a class="action button-green bigger right" href="{{ url_for('events.edit_event', id_=event.id) }}">Edit</a>

{% endblock %}
