<div class="flakes-navigation">
    <a href="index.html" class="logo">
        <!--<img src="{{ url_for('static', filename='libs/flakes/img/logo.png') }}" width="120">-->
    </a>

    <ul>
        <li class="title">Applications</li>
        {% if user.is_authenticated %}
            <li><a href="{{ url_for('events.events_list') }}">Events Database</a></li>
            <li><a href="#">Digest Monkey</a></li>
            <li><a href="#">Calendar</a></li>
        {% endif %}
        <li><a href="{{ url_for('frontend.page') }}">{{ _("About Site ") }}</a></li>
    </ul>

    {% if user.is_admin %}
    <ul>
      <li class="title">Admin</li>
      <li><a href="{{ url_for('auth.teams') }}">Teams</a></li>
        <li><a href="{{ url_for('auth.create_user') }}">New User</a></li>
    </ul>
    {% endif %}

    <ul>
      <li class="title">Accounts</li>
      {% if user.is_authenticated %}
      <li><a href="{{ url_for('auth.logout') }}" data-confirm="{{ _('Do you want to logout?')}}" data-title="{{ _('Logout?') }}"><i class="fa fa-sign-out"></i> {{ _("Logout") }}</a></li>
      {% else %}
      <li><a href="{{ url_for('auth.login') }}"> {{ _("Login") }} </a></li>
      {% endif %}
    </ul>
</div>
