{% extends "base.html" %}
{% set page_title = _('Login') %}

{% block content %}
<h1>{{ _("Login") }}</h1>

{% for error in errors %}
    <p class="flakes-message error">{{ error }}</p>
{% endfor %}

<form method="POST">
    <ul>
        <li>
            <label>Username</label>
            <input type="text" name="username">
        </li>
        <li>
            <label>Password</label>
            <input type="password" name="password">
        </li>
        <li>
            <input type="submit" class="button-green" value="Login">
        </li>
    </ul>
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
</form>
{% endblock %}
